
html {
   border-right: 256px solid #aad4cf;
   border-left: 256px solid #aad4cf;
}
      
body {
    background-color: #D4E9E7;
    background-image: url("images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

.title {
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    color:white;
    text-align:center;
    padding-top: 155px;
    
}

#firstphoto {
    padding-top: 175px;
    float:left;
    margin: 0px 10px 0px 10px;
    width: 250px;
    height:250px;
}

article {
    position:relative;
    top: 120px;

}

h2 {
    text-align: left;
}

.middle {
    border-right-style:solid;
    border-left-style: solid;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    color:black;
    
}

.menu {
   padding-top: 59px;
   display:flex;
   justify-content: space-between;
   width: 850px;
   text-decoration: none;
   font-size: 1.2em;
   
}

.home {
    text-decoration:none;
    color:black;
}

.contact {
    text-decoration: none;
    color:black;
    
}